<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="dropdown">
        <form method="post" name="categoriesForm">
            <label for="id">Please Select a Category </label>
            <select name="id" id="id" onchange="categoriesForm.submit()">
                <option value="0">...</option>
                <option value="1">Mammal</option>
                <option value="2">Bird</option>
                <option value="3">Fish</option>
            </select>
        </form>
    </div>
</body>
</html>