@model IEnumerable<PetShopProject.Models.Animal>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>
        Today's Top Rated Animals Are:
    </h3>
    <div class="container text-center">
        <table >
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th >Description</th>
                <th>No. of Comments</th>
            </tr>
            @foreach (var animal in Model)
            {

                <tr >
                    <td><img src="/Images/@animal.PictureName"/></td>
                    <td>@animal.Name</td>
                    <td>@animal.Description</td>
                    <td>@animal.Comments.Count()</td>
                </tr>
            }
        </table>
        </div>
</body>
</html>